name: Update Blog Posts

on:
  push:
    branches:
      - main 
  schedule:
    - cron: '0 3 * * *'  # (한국시간 오후 12시)

jobs:
  update_blog:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install feedparser gitpython

    - name: Configure Git 
      run: |
        git config --global user.name "S2hyeyunS2"
        git config --global user.email "hhyeyun22@gmail.com"
        git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/S2hyeyunS2/velog.git

    - name: Run script 
      run: python scripts/update_blog.py

    - name: Pull latest changes (Fix push issue)
      run: git pull origin main --rebase || echo "No remote changes to merge"

    - name: Push changes
      run: |
        git add .
        git commit -m "Auto-update blog posts" || echo "No changes to commit"
        git push origin main
